
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>雷達圖</h3>
<ul>
    <li>@Html.ActionLink("基本 & 更換Size", "Radar_BasicAndChangeSize")</li>
    <li>@Html.ActionLink("隨機產生角色 ( From Json )", "Radar_PlayerFromJson")</li>
</ul>